.page-content {
  background-color: #ededed;
} 
.user-input {
  margin-bottom: 15px;
}
.select {
  margin-left: 10px;
}
.select-box {
  margin-bottom: 10px;
}

.txtfild{
  margin: 15px;
}
span{
  padding: 5px;
}
.text{
  left: 10px;
}
.pass{
  color: rgb(89, 189, 89);
  cursor: pointer;
}