.coachImg {
    width: 250px;
    height: 200px;
    border: 1px black solid;
  }
  .allCoaches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    background-color: rgb(7, 7, 7);
  }
  .coachMain {
    box-shadow: 4px 3px 4px rgb(196, 192, 192);
    background-color: rgb(133, 130, 131);
    margin: 20px;
    display: flex;
    /* justify-content: center; */
  }
  .modal {
    display: flex;
    width: 500px;
    max-height: 900px;
    justify-content: center;
    text-align: center;
    left: 26%;
    overflow-y: hidden;
  }
  .onlyImg {
    background-color: rgb(237, 245, 245);
  }
 
  .coach-info {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .info {
    /* color: rgb(177, 72, 124); */
    padding: 9px;
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .displayName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px;
  }
  .txtfild {
    margin: 15px;
  }
  span {
    padding: 5px;
  }
  .text {
    left: 10px;
  }
  .AddCoach {
    padding: 18px;
  }
  .star {
    color: red;
    font-size: 30px;
  }
  .coachImgCard{
      border: 1px black solid;
      border-radius: 4px 4px 4px 4px;
      width: 70%;
      margin: 10px;
      align-items: center;
      justify-content: center;
  }
  .user-input-coach {
    margin-bottom: 15px;
    width: 300px;
  }
 
  .sign-in-titleCoach {
    margin-left: 112px;
    /* text-align: center; */
  }

  .btn-save-changes {
    background-color: #17a2b8;
  }
  .btn-save-changes:hover {
    background-color: #1f8999;
  }
  .btn-delete-coach{
    background-color: #d4293b;
  }
  .btn-delete-coach:hover{
    background-color: #a0333e;
  }
  .bodyModle{
    display: flex;
    align-items: center;
    justify-content: center;
  }
 #descShort-input{
  margin-bottom: -19px;
  height: 74px;
 }
 .btn-addCoach{
  margin: 35px;
 }
 .model-border{
   border: 1px black solid;
   margin-top: 15px;
   background-color: #ffff;
 }
 .back-ground-img{
  /* background-image: url('https://cdnb.artstation.com/p/assets/images/images/036/897/309/large/timur-tagirov-dojo-2-scene-3.jpg?1618930582'); */

  /* background: url("https://cdnb.artstation.com/p/assets/images/images/036/897/309/large/timur-tagirov-dojo-2-scene-3.jpg?1618930582"); */
  /* height: 100vh; */
  position: relative;
  padding: 15px;
  height: 100vh;
 }
 .back-ground-img::before{
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5; 
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/036/897/309/large/timur-tagirov-dojo-2-scene-3.jpg?1618930582");
 }
