.intro {
  height: 70vh;
}
.link {
  font-size: 26px;
  color: antiquewhite;
  padding: 12px;
  background-color: black;
  margin: 10px;
  padding: 8px;
}
.calendar {
  margin: 10px;
  max-height: max-content;
  border: 1px solid black;
}

.charts{
  display: inline-block;
  padding: 12px;
  margin: 10px;
}
.dashBoardUsers{
  margin: 20px;
}
.divClass{
  padding: 5px;
}
.addCoachbtn{
  margin: 15px;
  padding: 15px;
}
.navBar-flex{

  position: sticky;
  top: 0;
  z-index: 3;
}

/* .rbc-time-view .rbc-row {
  min-height: 0px;
}

.tui-full-calendar-weekday-schedules {
  border: 10px solid green;
}
.rbc-time-view .rbc-row div:nth-child(1) {
  height: 0px !important;
}
.fc-list-item-time {
  display: none;
}
.tui-view-428 {
  background-color: aqua;
  display: none;
}
.tui-full-calendar-vlayout-area
  .tui-view-426
  .tui-full-calendar-vlayout-container {
  background-color: green;
} */
/* .tui-view-430{
  background-color: white;
  height: 2000px;
}
.tui-full-calendar-time-date-schedule-block-wrap{
  width: 1px;
  background-color: red;
} */
